# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/server/node_modules
/mobile/node_modules


# next.js
/.next/
/out/

# production
/web/build
/server/build
/mobile/build

/web/dist
/server/dist
/mobile/dist



# local env files
/web/.env.local
/server/.env.local
/mobile/.env.local


# vercel
.vercel

.vercel

to-do.txt

